<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
  </head>
  <body>

  <section>
      <div th:replace="fragments/adminHeader :: nav"></div>
  </section>

    <section id="help" class="help">
      <h2>Użytkownicy naszego serwisu</h2>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę wszystkich naszych administratorów, którzy
          wkładają ogrom wysiłku w to, aby fundacja mogła pracować bez problemów.
        Jako zalogowany administrator możesz dodać nowego administratora,
          usunąć już istniejącego lub edytować jego dane</p>

        <div class="col">
          <ul class="nav--actions">
            <li><a th:href="@{/admin}" class="btn btn--small btn--highlighted">Powrót do strony głównej</a></li>
          </ul>
        </div>


        <ul class="help--slides-items">
          <li th:each="user : ${users}">
            <div class="col">
              <div class="title" th:text="${user.firstname} + ' ' + ${user.lastname}"></div>
              <div class="subtitle" th:text="${user.email}"></div>
            </div>

            <div>
              <a th:href="@{'/admin/user/changeStatus/' + ${user.id}}" class="btn btn--small btn--without-border" id="blockButton" th:text="${user.isEnabled()} ? 'Zablokuj użytkownika' : 'Odblokuj użytkownika'"
                    th:style="${user.isEnabled()} ? 'background-color:white;' : 'background-color:red;'">Zablokuj użytkownika</a>
              <a th:href="@{'/admin/user/delete/' +${user.id}}" class="btn btn--small btn--without-border">Usuń użytkownika</a>
            </div>
            <br>
          </li>

        </ul>
      </div>

    </section>

<div th:replace="fragments/footer :: footer">

</div>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/buttonEvents.js}"></script>
  </body>
</html>
