<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
</head>
<body>

<header>
    <div th:replace="fragments/userHeader :: nav"></div>
</header>

<section class="login-page">
    <h2>Szczegóły twojego profilu</h2>
    <form>
        <!-- SLIDE 1 -->
        <div class="form-section form-section--columns" th:object="${appUser}">
            <div class="form-section--column">
                <h4>Dane użytkownika</h4>
                <div class="form-group form-group--inline">
                    <label> Imię <input th:placeholder="${appUser.get().firstname}" type="text" id="name"/> </label>
                </div>

                <div class="form-group form-group--inline">
                    <label> Nazwisko <input th:placeholder="${appUser.get().lastname}" type="text" id="lastname"/> </label>
                </div>

                <div class="form-group form-group--inline">
                    <label> Email <input th:placeholder="${appUser.get().email}" type="email" id="email"/> </label>
                </div>

            </div>
        </div>
        <div class="form-group form-group--buttons">
            <a th:href="@{/admin/list}" class="btn btn--small btn--without-border">Zobacz swoje dary</a>
            <a th:href="@{/userIndex}" class="btn btn--small btn--without-border">Powrót do strony głównej</a>
            <a th:href="@{'/userIndex/edit/' + ${#authentication.getPrincipal().getAppUser().getId()}}" class="btn">Edytuj</a>
        </div>
    </form>
</section>



<div th:replace="fragments/footer :: footer">

</div>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
