<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css" />
  </head>
  <body>
    <header class="header--form-page">
      <div th:replace="fragments/secondaryHeader :: nav">

      </div>

      <div class="slogan container container--90">
          <h2>
            Cieszymy się, że chcesz przekazać dary. W tym celu prosimy:
            <div class="form-group form-group--buttons">
              <a th:href="@{'/login'}" class="btn btn--small">Zaloguj się</a>
              <a th:href="@{'/register'}" class="btn btn--small">Załóż konto</a>
            </div>
          </h2>
      </div>
    </header>

    <div th:replace="fragments/footer :: footer">

    </div>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
  </body>
</html>
