<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
</head>
<body>

<div th:replace="fragments/adminHeader :: nav">

</div>


<h2>Dodaj nową instytucję</h2>
<form th:object="${institution}" method="post">
    <!-- SLIDE 1 -->
    <div class="form-section form-section--columns">
        <div class="form-section--column">
            <h4>Dane instytucji</h4>
            <div class="form-group form-group--inline">
                <label> Nazwa <input th:field="*{name}" type="text" id="name"/> </label>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</p>
            </div>

            <div class="form-group form-group--inline">
                <label> Opis <input th:field="*{description}" type="text" id="description"/> </label>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">name error</p>

            </div>

        </div>
    </div>
  <div class="form-group form-group--buttons">
    <a th:href="@{/institution/list}" class="btn btn--small btn--without-border">Powrót do listy instytucji</a>
    <a th:href="@{/admin}" class="btn btn--small btn--without-border">Powrót do strony głównej</a>
    <button type="submit" class="btn">Dodaj</button>
  </div>
</form>


<div th:replace="fragments/footer :: footer">

</div>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
</body>
</html>
